
@function mdc-elevation-transition-value(
  $duration: $mdc-elevation-transition-duration,
  $easing: $mdc-elevation-transition-timing-function
) {
  @return #{$mdc-elevation-property} #{$duration} #{$easing};
}

@for $z-value from 0 through 24 {
  .elevation-z#{$z-value} {
    @include mdc-elevation($z-value);
  }
}

.elevation-transition {
  transition: mdc-elevation-transition-value();
  will-change: $mdc-elevation-property;
}
