@include mq-classes {

	// flex-direction
	@each $key, $value in $map-flex-direction {
		.fx-#{$key}#{$bp-infix} {
			flex-direction: $value $im;
		}
	}

	// flex-wrap
	@each $key, $value in $map-flex-wrap {
		.fx-#{$key}#{$bp-infix} {
			flex-wrap: $value $im;
		}
	}

	// justify-content
	@each $key, $value in $map-justify-content {
		.fx-justify-#{$key}#{$bp-infix} {
			justify-content: $value $im;
		}
	}

	// align-items
	@each $key, $value in $map-align-items {
		.fx-align-items-#{$key}#{$bp-infix} {
			align-items: $value $im;
		}
	}

	// align-content
	@each $key, $value in $map-align-content {
		.fx-align-content-#{$key}#{$bp-infix} {
			align-content: $value $im;
		}
	}

	// align-self
	@each $key, $value in $map-align-self {
		.fx-align-self-#{$key}#{$bp-infix} {
			align-self: $value $im;
		}
	}

	// order
	@for $i from 1 through $order-end-value {
		.fx-order-#{$i}#{$bp-infix} {
			order: $i;
		}
	}

	// flex-grow
	@for $i from 1 through $grow-end-value {
		.fx-grow-#{$i}#{$bp-infix} {
			flex-grow: $i;
		}
	}

	// flex-shrink
	@for $i from 1 through $shrink-end-value {
		.fx-shrink-#{$i}#{$bp-infix} {
			flex-shrink: $i;
		}
	}
}
