// 親がrelative の場合、垂直中央配置

@mixin absolute-middle ($height:null) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: $height;
}



// 親がrelative の場合、水平中央配置

@mixin absolute-center ($width:null) {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: $width;
}
