
// bootstrap color system
// ---------------------------------------------------

$bootstrap-color-white:    #fff !default;
$bootstrap-color-gray-100: #f8f9fa !default;
$bootstrap-color-gray-200: #e9ecef !default;
$bootstrap-color-gray-300: #dee2e6 !default;
$bootstrap-color-gray-400: #ced4da !default;
$bootstrap-color-gray-500: #adb5bd !default;
$bootstrap-color-gray-600: #6c757d !default;
$bootstrap-color-gray-700: #495057 !default;
$bootstrap-color-gray-800: #343a40 !default;
$bootstrap-color-gray-900: #212529 !default;
$bootstrap-color-black:    #000 !default;

$bootstrap-color-grays: () !default;
$bootstrap-color-grays: map-merge((
  "100": $bootstrap-color-gray-100,
  "200": $bootstrap-color-gray-200,
  "300": $bootstrap-color-gray-300,
  "400": $bootstrap-color-gray-400,
  "500": $bootstrap-color-gray-500,
  "600": $bootstrap-color-gray-600,
  "700": $bootstrap-color-gray-700,
  "800": $bootstrap-color-gray-800,
  "900": $bootstrap-color-gray-900
), $bootstrap-color-grays);


$bootstrap-color-blue:    #007bff !default;
$bootstrap-color-indigo:  #6610f2 !default;
$bootstrap-color-purple:  #6f42c1 !default;
$bootstrap-color-pink:    #e83e8c !default;
$bootstrap-color-red:     #dc3545 !default;
$bootstrap-color-orange:  #fd7e14 !default;
$bootstrap-color-yellow:  #ffc107 !default;
$bootstrap-color-green:   #28a745 !default;
$bootstrap-color-teal:    #20c997 !default;
$bootstrap-color-cyan:    #17a2b8 !default;


$bootstrap-color-colors: () !default;
$bootstrap-color-colors: map-merge((
  "blue":       $bootstrap-color-blue,
  "indigo":     $bootstrap-color-indigo,
  "purple":     $bootstrap-color-purple,
  "pink":       $bootstrap-color-pink,
  "red":        $bootstrap-color-red,
  "orange":     $bootstrap-color-orange,
  "yellow":     $bootstrap-color-yellow,
  "green":      $bootstrap-color-green,
  "teal":       $bootstrap-color-teal,
  "cyan":       $bootstrap-color-cyan,
  "white":      $bootstrap-color-white,
  "gray":       $bootstrap-color-gray-600,
  "gray-dark":  $bootstrap-color-gray-800
), $bootstrap-color-colors);

$primary:       $bootstrap-color-blue !default;
$secondary:     $bootstrap-color-gray-600 !default;
$success:       $bootstrap-color-green !default;
$info:          $bootstrap-color-cyan !default;
$warning:       $bootstrap-color-yellow !default;
$danger:        $bootstrap-color-red !default;
$light:         $bootstrap-color-gray-100 !default;
$dark:          $bootstrap-color-gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);



// google material design color system
// ---------------------------------------------------

// https://material.io/tools/color/#!/?view.left=0&view.right=0

$material-color-red-50: #ffebee;
$material-color-red-100: #ffcdd2;
$material-color-red-200: #ef9a9a;
$material-color-red-300: #e57373;
$material-color-red-400: #ef5350;
$material-color-red-500: #f44336;
$material-color-red-600: #e53935;
$material-color-red-700: #d32f2f;
$material-color-red-800: #c62828;
$material-color-red-900: #b71c1c;
$material-color-red-a100: #ff8a80;
$material-color-red-a200: #ff5252;
$material-color-red-a400: #ff1744;
$material-color-red-a700: #d50000;

$material-color-pink-50: #fce4ec;
$material-color-pink-100: #f8bbd0;
$material-color-pink-200: #f48fb1;
$material-color-pink-300: #f06292;
$material-color-pink-400: #ec407a;
$material-color-pink-500: #e91e63;
$material-color-pink-600: #d81b60;
$material-color-pink-700: #c2185b;
$material-color-pink-800: #ad1457;
$material-color-pink-900: #880e4f;
$material-color-pink-a100: #ff80ab;
$material-color-pink-a200: #ff4081;
$material-color-pink-a400: #f50057;
$material-color-pink-a700: #c51162;

$material-color-purple-50: #f3e5f5;
$material-color-purple-100: #e1bee7;
$material-color-purple-200: #ce93d8;
$material-color-purple-300: #ba68c8;
$material-color-purple-400: #ab47bc;
$material-color-purple-500: #9c27b0;
$material-color-purple-600: #8e24aa;
$material-color-purple-700: #7b1fa2;
$material-color-purple-800: #6a1b9a;
$material-color-purple-900: #4a148c;
$material-color-purple-a100: #ea80fc;
$material-color-purple-a200: #e040fb;
$material-color-purple-a400: #d500f9;
$material-color-purple-a700: #a0f;

$material-color-deep-purple-50: #ede7f6;
$material-color-deep-purple-100: #d1c4e9;
$material-color-deep-purple-200: #b39ddb;
$material-color-deep-purple-300: #9575cd;
$material-color-deep-purple-400: #7e57c2;
$material-color-deep-purple-500: #673ab7;
$material-color-deep-purple-600: #5e35b1;
$material-color-deep-purple-700: #512da8;
$material-color-deep-purple-800: #4527a0;
$material-color-deep-purple-900: #311b92;
$material-color-deep-purple-a100: #b388ff;
$material-color-deep-purple-a200: #7c4dff;
$material-color-deep-purple-a400: #651fff;
$material-color-deep-purple-a700: #6200ea;

$material-color-indigo-50: #e8eaf6;
$material-color-indigo-100: #c5cae9;
$material-color-indigo-200: #9fa8da;
$material-color-indigo-300: #7986cb;
$material-color-indigo-400: #5c6bc0;
$material-color-indigo-500: #3f51b5;
$material-color-indigo-600: #3949ab;
$material-color-indigo-700: #303f9f;
$material-color-indigo-800: #283593;
$material-color-indigo-900: #1a237e;
$material-color-indigo-a100: #8c9eff;
$material-color-indigo-a200: #536dfe;
$material-color-indigo-a400: #3d5afe;
$material-color-indigo-a700: #304ffe;

$material-color-blue-50: #e3f2fd;
$material-color-blue-100: #bbdefb;
$material-color-blue-200: #90caf9;
$material-color-blue-300: #64b5f6;
$material-color-blue-400: #42a5f5;
$material-color-blue-500: #2196f3;
$material-color-blue-600: #1e88e5;
$material-color-blue-700: #1976d2;
$material-color-blue-800: #1565c0;
$material-color-blue-900: #0d47a1;
$material-color-blue-a100: #82b1ff;
$material-color-blue-a200: #448aff;
$material-color-blue-a400: #2979ff;
$material-color-blue-a700: #2962ff;

$material-color-light-blue-50: #e1f5fe;
$material-color-light-blue-100: #b3e5fc;
$material-color-light-blue-200: #81d4fa;
$material-color-light-blue-300: #4fc3f7;
$material-color-light-blue-400: #29b6f6;
$material-color-light-blue-500: #03a9f4;
$material-color-light-blue-600: #039be5;
$material-color-light-blue-700: #0288d1;
$material-color-light-blue-800: #0277bd;
$material-color-light-blue-900: #01579b;
$material-color-light-blue-a100: #80d8ff;
$material-color-light-blue-a200: #40c4ff;
$material-color-light-blue-a400: #00b0ff;
$material-color-light-blue-a700: #0091ea;

$material-color-cyan-50: #e0f7fa;
$material-color-cyan-100: #b2ebf2;
$material-color-cyan-200: #80deea;
$material-color-cyan-300: #4dd0e1;
$material-color-cyan-400: #26c6da;
$material-color-cyan-500: #00bcd4;
$material-color-cyan-600: #00acc1;
$material-color-cyan-700: #0097a7;
$material-color-cyan-800: #00838f;
$material-color-cyan-900: #006064;
$material-color-cyan-a100: #84ffff;
$material-color-cyan-a200: #18ffff;
$material-color-cyan-a400: #00e5ff;
$material-color-cyan-a700: #00b8d4;

$material-color-teal-50: #e0f2f1;
$material-color-teal-100: #b2dfdb;
$material-color-teal-200: #80cbc4;
$material-color-teal-300: #4db6ac;
$material-color-teal-400: #26a69a;
$material-color-teal-500: #009688;
$material-color-teal-600: #00897b;
$material-color-teal-700: #00796b;
$material-color-teal-800: #00695c;
$material-color-teal-900: #004d40;
$material-color-teal-a100: #a7ffeb;
$material-color-teal-a200: #64ffda;
$material-color-teal-a400: #1de9b6;
$material-color-teal-a700: #00bfa5;

$material-color-green-50: #e8f5e9;
$material-color-green-100: #c8e6c9;
$material-color-green-200: #a5d6a7;
$material-color-green-300: #81c784;
$material-color-green-400: #66bb6a;
$material-color-green-500: #4caf50;
$material-color-green-600: #43a047;
$material-color-green-700: #388e3c;
$material-color-green-800: #2e7d32;
$material-color-green-900: #1b5e20;
$material-color-green-a100: #b9f6ca;
$material-color-green-a200: #69f0ae;
$material-color-green-a400: #00e676;
$material-color-green-a700: #00c853;

$material-color-light-green-50: #f1f8e9;
$material-color-light-green-100: #dcedc8;
$material-color-light-green-200: #c5e1a5;
$material-color-light-green-300: #aed581;
$material-color-light-green-400: #9ccc65;
$material-color-light-green-500: #8bc34a;
$material-color-light-green-600: #7cb342;
$material-color-light-green-700: #689f38;
$material-color-light-green-800: #558b2f;
$material-color-light-green-900: #33691e;
$material-color-light-green-a100: #ccff90;
$material-color-light-green-a200: #b2ff59;
$material-color-light-green-a400: #76ff03;
$material-color-light-green-a700: #64dd17;

$material-color-lime-50: #f9fbe7;
$material-color-lime-100: #f0f4c3;
$material-color-lime-200: #e6ee9c;
$material-color-lime-300: #dce775;
$material-color-lime-400: #d4e157;
$material-color-lime-500: #cddc39;
$material-color-lime-600: #c0ca33;
$material-color-lime-700: #afb42b;
$material-color-lime-800: #9e9d24;
$material-color-lime-900: #827717;
$material-color-lime-a100: #f4ff81;
$material-color-lime-a200: #eeff41;
$material-color-lime-a400: #c6ff00;
$material-color-lime-a700: #aeea00;

$material-color-yellow-50: #fffde7;
$material-color-yellow-100: #fff9c4;
$material-color-yellow-200: #fff59d;
$material-color-yellow-300: #fff176;
$material-color-yellow-400: #ffee58;
$material-color-yellow-500: #ffeb3b;
$material-color-yellow-600: #fdd835;
$material-color-yellow-700: #fbc02d;
$material-color-yellow-800: #f9a825;
$material-color-yellow-900: #f57f17;
$material-color-yellow-a100: #ffff8d;
$material-color-yellow-a200: #ff0;
$material-color-yellow-a400: #ffea00;
$material-color-yellow-a700: #ffd600;

$material-color-amber-50: #fff8e1;
$material-color-amber-100: #ffecb3;
$material-color-amber-200: #ffe082;
$material-color-amber-300: #ffd54f;
$material-color-amber-400: #ffca28;
$material-color-amber-500: #ffc107;
$material-color-amber-600: #ffb300;
$material-color-amber-700: #ffa000;
$material-color-amber-800: #ff8f00;
$material-color-amber-900: #ff6f00;
$material-color-amber-a100: #ffe57f;
$material-color-amber-a200: #ffd740;
$material-color-amber-a400: #ffc400;
$material-color-amber-a700: #ffab00;

$material-color-orange-50: #fff3e0;
$material-color-orange-100: #ffe0b2;
$material-color-orange-200: #ffcc80;
$material-color-orange-300: #ffb74d;
$material-color-orange-400: #ffa726;
$material-color-orange-500: #ff9800;
$material-color-orange-600: #fb8c00;
$material-color-orange-700: #f57c00;
$material-color-orange-800: #ef6c00;
$material-color-orange-900: #e65100;
$material-color-orange-a100: #ffd180;
$material-color-orange-a200: #ffab40;
$material-color-orange-a400: #ff9100;
$material-color-orange-a700: #ff6d00;

$material-color-deep-orange-50: #fbe9e7;
$material-color-deep-orange-100: #ffccbc;
$material-color-deep-orange-200: #ffab91;
$material-color-deep-orange-300: #ff8a65;
$material-color-deep-orange-400: #ff7043;
$material-color-deep-orange-500: #ff5722;
$material-color-deep-orange-600: #f4511e;
$material-color-deep-orange-700: #e64a19;
$material-color-deep-orange-800: #d84315;
$material-color-deep-orange-900: #bf360c;
$material-color-deep-orange-a100: #ff9e80;
$material-color-deep-orange-a200: #ff6e40;
$material-color-deep-orange-a400: #ff3d00;
$material-color-deep-orange-a700: #dd2c00;

$material-color-brown-50: #efebe9;
$material-color-brown-100: #d7ccc8;
$material-color-brown-200: #bcaaa4;
$material-color-brown-300: #a1887f;
$material-color-brown-400: #8d6e63;
$material-color-brown-500: #795548;
$material-color-brown-600: #6d4c41;
$material-color-brown-700: #5d4037;
$material-color-brown-800: #4e342e;
$material-color-brown-900: #3e2723;

$material-color-grey-50: #fafafa;
$material-color-grey-100: #f5f5f5;
$material-color-grey-200: #eee;
$material-color-grey-300: #e0e0e0;
$material-color-grey-400: #bdbdbd;
$material-color-grey-500: #9e9e9e;
$material-color-grey-600: #757575;
$material-color-grey-700: #616161;
$material-color-grey-800: #424242;
$material-color-grey-900: #212121;

$material-color-blue-grey-50: #eceff1;
$material-color-blue-grey-100: #cfd8dc;
$material-color-blue-grey-200: #b0bec5;
$material-color-blue-grey-300: #90a4ae;
$material-color-blue-grey-400: #78909c;
$material-color-blue-grey-500: #607d8b;
$material-color-blue-grey-600: #546e7a;
$material-color-blue-grey-700: #455a64;
$material-color-blue-grey-800: #37474f;
$material-color-blue-grey-900: #263238;




// pccs color system
// ---------------------------------------------------

// http://hidex7777.r.ribbon.to/vcw/pl/wpl_des_col_pccsscss.htm

//vivid


$v1: #b91f57; //rgb(185, 31, 87)
$v2: #d02f48; //rgb(208, 47, 72)
$v3: #dd443b; //rgb(221, 68, 59)
$v4: #e95b23; //rgb(233, 91, 35)
$v5: #e67800; //rgb(230, 120, 0)
$v6: #f49d00; //rgb(244, 157, 0)
$v7: #f1b500; //rgb(241, 181, 0)
$v8: #eec900; //rgb(238, 201, 0)
$v9: #d2c100; //rgb(210, 193, 0)
$v10: #a8bb00; //rgb(168, 187, 0)
$v11: #58a91d; //rgb(88, 169, 29)
$v12: #00a15a; //rgb(0, 161, 90)
$v13: #00926e; //rgb(0, 146, 110)
$v14: #00857f; //rgb(0, 133, 127)
$v15: #007488; //rgb(0, 116, 136)
$v16: #00709b; //rgb(0, 112, 155)
$v17: #00609c; //rgb(0, 96, 156)
$v18: #005ba5; //rgb(0, 91, 165)
$v19: #1a54a5; //rgb(26, 84, 165)
$v20: #534aa0; //rgb(83, 74, 160)
$v21: #703f96; //rgb(112, 63, 150)
$v22: #81378a; //rgb(129, 55, 138)
$v23: #8f2e7c; //rgb(143, 46, 124)
$v24: #ad2e6c; //rgb(173, 46, 108)


//bright


$b2: #ef6c70; //rgb(239, 108, 112)
$b4: #fa8155; //rgb(250, 129, 85)
$b6: #ffad36; //rgb(255, 173, 54)
$b8: #fad831; //rgb(250, 216, 49)
$b10: #b7c82b; //rgb(183, 200, 43)
$b12: #41b879; //rgb(65, 184, 121)
$b14: #00aa9f; //rgb(0, 170, 159)
$b16: #0098b9; //rgb(0, 152, 185)
$b18: #2981c0; //rgb(41, 129, 192)
$b20: #7574bc; //rgb(117, 116, 188)
$b22: #a165a8; //rgb(161, 101, 168)
$b24: #d0678e; //rgb(208, 103, 142)


//strong


$s2: #c53f4d; //rgb(197, 63, 77)
$s4: #cc572e; //rgb(204, 87, 46)
$s6: #e19215; //rgb(225, 146, 21)
$s8: #debc03; //rgb(222, 188, 3)
$s10: #9cad00; //rgb(156, 173, 0)
$s12: #008f56; //rgb(0, 143, 86)
$s14: #00827c; //rgb(0, 130, 124)
$s16: #006f92; //rgb(0, 111, 146)
$s18: #005b9b; //rgb(0, 91, 155)
$s20: #534c98; //rgb(83, 76, 152)
$s22: #7c3d84; //rgb(124, 61, 132)
$s24: #a33c6a; //rgb(163, 60, 106)


//deep


$dp2: #a61d39; //rgb(166, 29, 57)
$dp4: #ab3d1d; //rgb(171, 61, 29)
$dp6: #b16c00; //rgb(177, 108, 0)
$dp8: #b39300; //rgb(179, 147, 0)
$dp10: #748400; //rgb(116, 132, 0)
$dp12: #007243; //rgb(0, 114, 67)
$dp14: #006664; //rgb(0, 102, 100)
$dp16: #005476; //rgb(0, 84, 118)
$dp18: #004280; //rgb(0, 66, 128)
$dp20: #3e337b; //rgb(62, 51, 123)
$dp22: #612469; //rgb(97, 36, 105)
$dp24: #861d55; //rgb(134, 29, 85)


//light plus


$ltp2: #f19896; //rgb(241, 152, 150)
$ltp4: #ffa787; //rgb(255, 167, 135)
$ltp6: #ffbe71; //rgb(255, 190, 113)
$ltp8: #f2d96e; //rgb(242, 217, 110)
$ltp10: #c7d36d; //rgb(199, 211, 109)
$ltp12: #85ce9e; //rgb(133, 206, 158)
$ltp14: #62c0b5; //rgb(98, 192, 181)
$ltp16: #5bafc4; //rgb(91, 175, 196)
$ltp18: #6c9ac5; //rgb(108, 154, 197)
$ltp20: #9091c3; //rgb(144, 145, 195)
$ltp22: #b088b5; //rgb(176, 136, 181)
$ltp24: #d98ea5; //rgb(217, 142, 165)


//light


$lt2: #f6aba5; //rgb(246, 171, 165)
$lt4: #ffb99e; //rgb(255, 185, 158)
$lt6: #ffce90; //rgb(255, 206, 144)
$lt8: #fbe68f; //rgb(251, 230, 143)
$lt10: #d8df92; //rgb(216, 223, 146)
$lt12: #9cd9ac; //rgb(156, 217, 172)
$lt14: #7eccc1; //rgb(126, 204, 193)
$lt16: #79baca; //rgb(121, 186, 202)
$lt18: #83a7c8; //rgb(131, 167, 200)
$lt20: #a29fc7; //rgb(162, 159, 199)
$lt22: #b89ab8; //rgb(184, 154, 184)
$lt24: #daa0b3; //rgb(218, 160, 179)


//soft


$sf2: #ca8281; //rgb(202, 130, 129)
$sf4: #da927a; //rgb(218, 146, 122)
$sf6: #dba66b; //rgb(219, 166, 107)
$sf8: #d3bd6c; //rgb(211, 189, 108)
$sf10: #adb66b; //rgb(173, 182, 107)
$sf12: #76b18a; //rgb(118, 177, 138)
$sf14: #54a39b; //rgb(84, 163, 155)
$sf16: #5192a4; //rgb(81, 146, 164)
$sf18: #5d7ea0; //rgb(93, 126, 160)
$sf20: #7878a0; //rgb(120, 120, 160)
$sf22: #907194; //rgb(144, 113, 148)
$sf24: #b4788b; //rgb(180, 120, 139)


//dull


$d2: #a35a5c; //rgb(163, 90, 92)
$d4: #af6954; //rgb(175, 105, 84)
$d6: #b37f46; //rgb(179, 127, 70)
$d8: #ab9446; //rgb(171, 148, 70)
$d10: #858f46; //rgb(133, 143, 70)
$d12: #4f8766; //rgb(79, 135, 102)
$d14: #2a7b76; //rgb(42, 123, 118)
$d16: #246a7d; //rgb(36, 106, 125)
$d18: #34597d; //rgb(52, 89, 125)
$d20: #54527c; //rgb(84, 82, 124)
$d22: #6c4a71; //rgb(108, 74, 113)
$d24: #8b4f65; //rgb(139, 79, 101)


//dark


$dk2: #692934; //rgb(105, 41, 52)
$dk4: #75362a; //rgb(117, 54, 42)
$dk6: #794d1c; //rgb(121, 77, 28)
$dk8: #74601f; //rgb(116, 96, 31)
$dk10: #525b20; //rgb(82, 91, 32)
$dk12: #23523a; //rgb(35, 82, 58)
$dk14: #004746; //rgb(0, 71, 70)
$dk16: #004558; //rgb(0, 69, 88)
$dk18: #123452; //rgb(18, 52, 82)
$dk20: #322d51; //rgb(50, 45, 81)
$dk22: #432848; //rgb(67, 40, 72)
$dk24: #612d46; //rgb(97, 45, 70)


//pale plus


$pp2: #e8c2bf; //rgb(232, 194, 191)
$pp4: #ebc2b5; //rgb(235, 194, 181)
$pp6: #f4d4b0; //rgb(244, 212, 176)
$pp8: #f2e6b8; //rgb(242, 230, 184)
$pp10: #d8ddad; //rgb(216, 221, 173)
$pp12: #aed4b9; //rgb(174, 212, 185)
$pp14: #a6d4cc; //rgb(166, 212, 204)
$pp16: #add1da; //rgb(173, 209, 218)
$pp18: #afc0d1; //rgb(175, 192, 209)
$pp20: #bbbdd0; //rgb(187, 189, 208)
$pp22: #c8b9c9; //rgb(200, 185, 201)
$pp24: #dec4ca; //rgb(222, 196, 202)


//pale


$p2: #e7d5d4; //rgb(231, 213, 212)
$p4: #e9d5cf; //rgb(233, 213, 207)
$p6: #f6e3ce; //rgb(246, 227, 206)
$p8: #efe6c6; //rgb(239, 230, 198)
$p10: #e6e9c6; //rgb(230, 233, 198)
$p12: #c4e0cb; //rgb(196, 224, 203)
$p14: #bfe0d9; //rgb(191, 224, 217)
$p16: #c6dde2; //rgb(198, 221, 226)
$p18: #c2ccd5; //rgb(194, 204, 213)
$p20: #c9cad5; //rgb(201, 202, 213)
$p22: #d0c8d1; //rgb(208, 200, 209)
$p24: #e4d5d9; //rgb(228, 213, 217)


//light grayish


$ltg2: #c0abaa; //rgb(192, 171, 170)
$ltg4: #c1aba5; //rgb(193, 171, 165)
$ltg6: #cebba8; //rgb(206, 187, 168)
$ltg8: #c6bea1; //rgb(198, 190, 161)
$ltg10: #bdc1a2; //rgb(189, 193, 162)
$ltg12: #9db6a5; //rgb(157, 182, 165)
$ltg14: #98b6b1; //rgb(152, 182, 177)
$ltg16: #9eb4b9; //rgb(158, 180, 185)
$ltg18: #9ba5af; //rgb(155, 165, 175)
$ltg20: #a2a2af; //rgb(162, 162, 175)
$ltg22: #aba0ab; //rgb(171, 160, 171)
$ltg24: #bdacb0; //rgb(189, 172, 176)


//grayish


$g2: #745c5c; //rgb(116, 92, 92)
$g4: #755c57; //rgb(117, 92, 87)
$g6: #806c5c; //rgb(128, 108, 92)
$g8: #786f57; //rgb(120, 111, 87)
$g10: #6e725a; //rgb(110, 114, 90)
$g12: #53665a; //rgb(83, 102, 90)
$g14: #4e6764; //rgb(78, 103, 100)
$g16: #4f656c; //rgb(79, 101, 108)
$g18: #4c5765; //rgb(76, 87, 101)
$g20: #565566; //rgb(86, 85, 102)
$g22: #605262; //rgb(96, 82, 98)
$g24: #725c63; //rgb(114, 92, 99)


//dark grayish


$dkg2: #3e2d30; //rgb(62, 45, 48)
$dkg4: #3f2e2c; //rgb(63, 46, 44)
$dkg6: #4a3c32; //rgb(74, 60, 50)
$dkg8: #443e30; //rgb(68, 62, 48)
$dkg10: #3d4033; //rgb(61, 64, 51)
$dkg12: #2a342e; //rgb(42, 52, 46)
$dkg14: #273434; //rgb(39, 52, 52)
$dkg16: #273439; //rgb(39, 52, 57)
$dkg18: #222933; //rgb(34, 41, 51)
$dkg20: #292734; //rgb(41, 39, 52)
$dkg22: #302531; //rgb(48, 37, 49)
$dkg24: #3d2e34; //rgb(61, 46, 52)


//Gy


$W: #ffffff; //rgb(255, 255, 255)
$ltGy: #bfbfbf; //rgb(191, 191, 191)
$mGy: #7f7f7f; //rgb(127, 127, 127)
$dkGy: #3f3f3f; //rgb(63, 63, 63)/
$Bk:#000000; //rgb(0, 0, 0)

$Gy95: #f1f1f1; //rgb(241, 241, 241)//Gy-9.5
$Gy85: #d6d6d6; //rgb(214, 214, 214)//Gy-8.5
$Gy75: #bbbbbb; //rgb(187, 187, 187)//Gy-7.5
$Gy65: #a1a1a1; //rgb(161, 161, 161)//Gy-6.5
$Gy55: #878787; //rgb(135, 135, 135)//Gy-5.5
$Gy45: #6d6d6d; //rgb(109, 109, 109)//Gy-4.5
$Gy35: #545454; //rgb(84, 84, 84)//Gy-3.5
$Gy25: #3c3c3c; //rgb(60, 60, 60)//Gy-2.5
$Gy15: #272727; //rgb(39, 39, 39)//Gy-1.5



// my color
// ---------------------------------------------------

//
$my-color: #28323f;// いい感じの濃いグレー
// base
$base-color: #F4CA55 !default;

// complementary
$complement-color: complement($base-color);

// triad
$triad-01: $base-color !default;
$triad-02: adjust-hue($base-color, 120deg) !default;
$triad-03: adjust-hue($base-color, -140deg) !default;

// split complementary
$split-01: $base-color !default;
$split-02: adjust-hue(complement($base-color), 10deg) !default;
$split-03: adjust-hue(complement($base-color), -10deg) !default;



$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);
