
// normalize
// ---------------------------------------------------

$font-family-sans-serif:      "游ゴシック", YuGothic, Yu Gothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base:            $font-family-sans-serif !default;
$font-size-base:              1rem !default;
$font-weight-base:            normal;
$line-height-base:            1.5 !default;
$body-bg:                     $white !default;
$body-color:                  $gray-900 !default;

// typograophy
$headings-margin-bottom:    $font-size-base;
$paragraph-margin-bottom:   $font-size-base;
$address-margin-bottom:     $font-size-base;
$lists-margin-bottom:       $font-size-base;
$dt-font-weight:            bold;
$dd-margin-bottom:          $font-size-base / 2;
$blockquote-margin-bottom:  $font-size-base;

@mixin hover {
  &:hover { @content; }
}
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}
@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}
@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// table
$table-caption-color:         $gray-600 !default;
$table-cell-padding:          .75rem !default;

// image
$figure-margin-bottom:       $font-size-base;

// form
$label-margin-bottom:         .5rem !default;




$vendor-identifier-list: -moz-, -webkit-;
$im: !important;




// ---------------------------------------------------
// grid system
// ---------------------------------------------------


// grid
// ---------------------------------------------------
$base-width: 1280px;
$grid-gutter-width: 30px;
$grid-columns: 12;
$container-width: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px
);


// spacer
// ---------------------------------------------------
$infix-margin: m;
$infix-padding: p;
$infix-top: t-;
$infix-bottom: b-;
$infix-right: r-;
$infix-left: l-;
$spacing-has-important: "!important";
$spaceEndValue: 10 !default;  //繰り返し数
$spaceTimes: 5 !default;   //増値




// ---------------------------------------------------
// 汎用クラス用マップ・変数
// ---------------------------------------------------


// タイポグラフィ
// ---------------------------------------------------
$map-font-size: (
  12: 12,
  14: 14,
  16: 16,
  18: 18,
  20: 20,
  22: 22,
  24: 24,
  26: 26,
  28: 28
) !default;

$map-font-weight: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900
) !default;

$map-font-weight-keyword: (
  medium: normal,
  bold: bold,
  thin: thin
) !default;

$map-text-align: (
  left: left,
  center: center,
  right: right,
  justify: justify
) !default;

$map-vertical-align: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  textTop: text-top,
  textBottom: text-bottom,
  super: super,
  sub: sub
) !default;


// ボックス関連
// ---------------------------------------------------
$map-position: (
  statick: static,
  relative: relative,
  absolute: absolute,
  fixed: fixed,
  sticky: sticky
) !default;

$map-float: (
  left: left,
  right: right,
  none: none
) !default;

$map-display: (
  inline: inline,
  block: block,
  inline-block: inline-block,
  none: none,
  flex: flex,
  inline-flex: inline-flex
) !default;


// フレックスボックス
// ---------------------------------------------------

// 子要素の配置方向
$map-flex-direction: (
  row: row,   // 初期値。左から右
  row-reverse: row-reverse,    // 右から左
  column :column,    //上から下
  column-reverse: column-reverse    //下から上
);

// 子要素の折返し
$map-flex-wrap: (
  nowrap: nowrap,   // 初期値。折返しなし
  wrap: wrap,    // 上から下に折返し
  wrap-reverse: wrap-reverse   // 下から上に折返し
);

// 親要素の空きスペースに対する水平方向揃え
$map-justify-content: (
  start: flex-start,   // 初期値。左揃え
  end :flex-end,   // 右揃え
  center :center,   // 中央揃え
  between :space-between,   // 両端揃え
  around: space-around,   // 均等割付
  evenly: space-evenly   // 均等割付
);

//------------------------------------------------------------------
//  「flex-start」と「flex-end」はRTL（Right To Left ＝ 右から左）
// のときは逆向きに配置される
//------------------------------------------------------------------//

// 親要素の空きスペースに対する垂直方向揃え

$map-align-items: (
  stretch: stretch,   // 初期値。親要素または子要素最大の高さに合わせて拡張（スペースを埋める）
  start: flex-start,   // 上揃え
  end :flex-end,   // 下揃え
  center :center,     // 中央揃え
  baseline :baseline    // ベースラインに揃える
);

// 複数行になったときの揃え
$map-align-content: (
  stretch: stretch,   // 初期値。親要素の高さに合わせて拡張
  start: flex-start,   // 初期値。上揃え
  end :flex-end,   // 下揃え
  center :center,   // 中央揃え
  between :space-between,   // 上下両端揃え
  around: space-around   // 上下均等割付
);
//------------------------------------------------------------------//
//「flex-wrap: nowrap;」の指定があるときは無効
//------------------------------------------------------------------//

// 子要素関連
$map-align-self: (
  auto: auto,   // 初期値。親要素のalign-items の値を継承
  stretch: stretch,   // 親要素または子要素最大の高さに合わせて拡張（スペースを埋める）
  start: flex-start,   // 上揃え
  end :flex-end,   // 下揃え
  center :center,     // 中央揃え
  baseline :baseline    // ベースラインに揃える
);

$order-end-value: 4;
$grow-end-value: 4;
$shrink-end-value: 4;



//------------------------------------------------------------------//
// アニメーション
//------------------------------------------------------------------//

$mdc-animation-deceleration-curve-timing-function: cubic-bezier(0, 0, .2, 1) !default;
$mdc-animation-standard-curve-timing-function: cubic-bezier(.4, 0, .2, 1) !default;
$mdc-animation-acceleration-curve-timing-function: cubic-bezier(.4, 0, 1, 1) !default;
$mdc-animation-sharp-curve-timing-function: cubic-bezier(.4, 0, .6, 1) !default;

// transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms



//------------------------------------------------------------------//
// 影
//------------------------------------------------------------------//

// 簡易版
// ---------------------------------------------------
$map-box-shadow01: (
  "01": "rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px",
  "02": "rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px",
  "03": "rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px",
  "04": "rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px",
  "05": "rgba(0, 0, 0, 0.3) 0px 19px 60px, rgba(0, 0, 0, 0.22) 0px 15px 20px"
);


// 24段階
// ---------------------------------------------------
$mdc-elevation-baseline-color: black !default;  // 影の色
$mdc-elevation-umbra-opacity: .2 !default;
$mdc-elevation-penumbra-opacity: .14 !default;
$mdc-elevation-ambient-opacity: .12 !default;

$mdc-elevation-umbra-map: (
  0: "0px 0px 0px 0px",
  1: "0px 2px 1px -1px",
  2: "0px 3px 1px -2px",
  3: "0px 3px 3px -2px",
  4: "0px 2px 4px -1px",
  5: "0px 3px 5px -1px",
  6: "0px 3px 5px -1px",
  7: "0px 4px 5px -2px",
  8: "0px 5px 5px -3px",
  9: "0px 5px 6px -3px",
  10: "0px 6px 6px -3px",
  11: "0px 6px 7px -4px",
  12: "0px 7px 8px -4px",
  13: "0px 7px 8px -4px",
  14: "0px 7px 9px -4px",
  15: "0px 8px 9px -5px",
  16: "0px 8px 10px -5px",
  17: "0px 8px 11px -5px",
  18: "0px 9px 11px -5px",
  19: "0px 9px 12px -6px",
  20: "0px 10px 13px -6px",
  21: "0px 10px 13px -6px",
  22: "0px 10px 14px -6px",
  23: "0px 11px 14px -7px",
  24: "0px 11px 15px -7px"
) !default;

$mdc-elevation-penumbra-map: (
  0: "0px 0px 0px 0px",
  1: "0px 1px 1px 0px",
  2: "0px 2px 2px 0px",
  3: "0px 3px 4px 0px",
  4: "0px 4px 5px 0px",
  5: "0px 5px 8px 0px",
  6: "0px 6px 10px 0px",
  7: "0px 7px 10px 1px",
  8: "0px 8px 10px 1px",
  9: "0px 9px 12px 1px",
  10: "0px 10px 14px 1px",
  11: "0px 11px 15px 1px",
  12: "0px 12px 17px 2px",
  13: "0px 13px 19px 2px",
  14: "0px 14px 21px 2px",
  15: "0px 15px 22px 2px",
  16: "0px 16px 24px 2px",
  17: "0px 17px 26px 2px",
  18: "0px 18px 28px 2px",
  19: "0px 19px 29px 2px",
  20: "0px 20px 31px 3px",
  21: "0px 21px 33px 3px",
  22: "0px 22px 35px 3px",
  23: "0px 23px 36px 3px",
  24: "0px 24px 38px 3px"
) !default;

$mdc-elevation-ambient-map: (
  0: "0px 0px 0px 0px",
  1: "0px 1px 3px 0px",
  2: "0px 1px 5px 0px",
  3: "0px 1px 8px 0px",
  4: "0px 1px 10px 0px",
  5: "0px 1px 14px 0px",
  6: "0px 1px 18px 0px",
  7: "0px 2px 16px 1px",
  8: "0px 3px 14px 2px",
  9: "0px 3px 16px 2px",
  10: "0px 4px 18px 3px",
  11: "0px 4px 20px 3px",
  12: "0px 5px 22px 4px",
  13: "0px 5px 24px 4px",
  14: "0px 5px 26px 4px",
  15: "0px 6px 28px 5px",
  16: "0px 6px 30px 5px",
  17: "0px 6px 32px 5px",
  18: "0px 7px 34px 6px",
  19: "0px 7px 36px 6px",
  20: "0px 8px 38px 7px",
  21: "0px 8px 40px 7px",
  22: "0px 8px 42px 7px",
  23: "0px 9px 44px 8px",
  24: "0px 9px 46px 8px"
) !default;

$mdc-elevation-property: box-shadow !default;
$mdc-elevation-transition-duration: 280ms !default;
$mdc-elevation-transition-timing-function: $mdc-animation-standard-curve-timing-function !default;
