
@include mq-classes {

	// マージン
	@for $i from 0 through $spaceEndValue {
		.#{$infix-margin}#{$infix-top}#{$i * $spaceTimes}#{$bp-infix} {
			margin-top: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	@for $i from 0 through $spaceEndValue {
		.#{$infix-margin}#{$infix-bottom}#{$i * $spaceTimes}#{$bp-infix} {
			margin-bottom: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	@for $i from 0 through $spaceEndValue {
		.#{$infix-margin}#{$infix-right}#{$i * $spaceTimes}#{$bp-infix} {
			margin-right: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	@for $i from 0 through $spaceEndValue {
		.#{$infix-margin}#{$infix-left}#{$i * $spaceTimes}#{$bp-infix} {
			margin-left: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	// パディング
	@for $i from 0 through $spaceEndValue {
		.#{$infix-padding}#{$infix-top}#{$i * $spaceTimes}#{$bp-infix} {
			padding-top: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	@for $i from 0 through $spaceEndValue {
		.#{$infix-padding}#{$infix-bottom}#{$i * $spaceTimes}#{$bp-infix} {
			padding-bottom: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	@for $i from 0 through $spaceEndValue {
		.#{$infix-padding}#{$infix-right}#{$i * $spaceTimes}#{$bp-infix} {
			padding-right: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}

	@for $i from 0 through $spaceEndValue {
		.#{$infix-padding}#{$infix-left}#{$i * $spaceTimes}#{$bp-infix} {
			padding-left: #{$i * $spaceTimes}px #{$spacing-has-important};
		}
	}
}
