@charset "UTF-8";

$sg-black: #212529;
$sg-dark: #343a40;
$sg-darkgray: #6c757d;
$sg-lightgray: #ced4da;
$sg-light: #e9ecef;
$sg-white: #f8f9fa;


$sg-ws-ss: .25rem;
$sg-ws-s: .5rem;
$sg-ws-m: 1rem;
$sg-ws-l: 2rem;
$sg-ws-ll: 4rem;

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: $sg-dark;
}


.sg-header {
    background-color: $sg-dark;
    p {
        font-size: 1.25rem;
        font-weight: bold;
        color: $sg-light;
        line-height:  2.5;
        letter-spacing: 1.5px;
        font-feature-settings: "palt";
    }
}

.sg-nav {
    background-color: $sg-white;
    margin-bottom: $sg-ws-ll;
    li {
        display: inline-block;
        margin-right: $sg-ws-m;
    }
    a {
        text-decoration: none;
        font-size: 12px;
        color: $sg-dark;
        line-height: 2.5;
    }
    a:hover {
        text-decoration: underline;
    }
}
section {
    margin-bottom: $sg-ws-ll;
}
.sg-h2 {
    font-size: 1.5rem;
    padding-bottom: $sg-ws-s;
    border-bottom: 2px solid $sg-light;
    margin-bottom: $sg-ws-l;
    margin-top: $sg-ws-l;
    font-feature-settings: "palt";
    letter-spacing: 1.5px;
}
.sg-h3 {
    font-size: 1.25rem;
    margin-bottom: $sg-ws-m;
    margin-top: $sg-ws-m;
    font-feature-settings: "palt";
    letter-spacing: 1.5px;
}
.sg-memo {
    padding: 1rem;
    background-color:$sg-white;
}

h1, h2, h3, h4 {
    font-feature-settings: "palt";
    letter-spacing: 1.5px;
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1.5;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}

p.txt {
    font-size: 14px;
    line-height: 2;
    font-feature-settings: "palt";
    letter-spacing: .75px;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}
