// ベース

@mixin btn-block($pd: 0.5em 1.5em, $size: null) {
	display: block;
	padding: $pd;
}

@mixin btn-strech($pd: 0.5em 1.5em) {
	display: inline-block;
	padding: $pd;
}

// ゴーストボタン
@mixin btn-ghost($color, $boder-width, $radius: null) {
	color: $color;
	border: $boder-width solid $color;
	border-radius: $radius;
}

// サイズ拡張
@mixin btn-mod-size {
	&-full {
		width: 100%;
	}
	&-small {
		width: 100%;
	}
	&-large {
		width: 100%;
	}
}

// ボタンリセット
@mixin btn-reset {
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent none;
	font-size: inherit;
	@each $list in $vendor-identifier-list {
		#{$list}appearance: none;
	}
	appearance: none;
}

//アニメーション
// @mixin hover-horizon($transform: 8px, $duration: 0.3s) {
// 	-webkit-transform: perspective(1px) translateZ(0);
// 	transform: perspective(1px) translateZ(0);
// 	-webkit-transition-duration: $duration;
// 	transition-duration: $duration;
// 	-webkit-transition-property: transform;
// 	transition-property: transform;
// 	&:hover,
// 	&:focus,
// 	&:active {
// 		-webkit-transform: translateX($transform);
// 		transform: translateX($transform);
// 	}
// }
// .btntest {
// 	@include btn-strech($pd: 1em 3em);
// 	background-color: $red;
// 	color: #fff;
// 	@include hover-horizon(8px);
// }
