/* コンテナ */

$btnBlock: ".btn";

#{$btnBlock} {
	&-group {
		&-between {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			a {
				margin-left: 0.5em;
				margin-right: 0.5em;
			}
		}

		&-center {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			a {
				margin-left: 0.5em;
				margin-right: 0.5em;
			}
		}
	}
	&-single {
		&-center {
			text-align: center;
		}
		&-right {
			text-align: right;
		}
		&-left {
			text-align: left;
		}
	}
}

/* ボタンベース（サイズ） */

#{$btnBlock} {
	display: inline-block;
	padding: 0.5em 1.5em;
	font-size: 1em;
	text-decoration: none;
	color: #000;
	background-color: $primary;

	&--sm {
		font-size: 0.75em;
	}
	&--lg {
		font-size: 1.25em;
	}
}

/* ボタンスタイル */

#{$btnBlock} {

	// ボタン色
	@each $key, $value in $btn-colors {
		&--#{$key} {
			background-color: $value;
			color: getTextColor($value);
		}
		&:hover {
			opacity: .75;
		}
	}

	// アウトライン
	&--outline {
		border: 1px solid $primary;
		background-color: rgba(0, 0, 0, 0);
		color: $primary;
		@each $key, $value in $btn-colors {
			&#{$btnBlock}--#{$key} {
				border: 1px solid $value;
				background-color: rgba(0, 0, 0, 0);
				color: $value;
			}
			&#{$btnBlock}--#{$key}:hover,
			&#{$btnBlock}--#{$key}.btn--active {
				opacity: 1;
				border: 1px solid $value;
				background-color: $value;
				color: getTextColor($value);
			}
		}
	}

	// 角丸
	&--round {
		border-radius: 4px;
	}
}

// ボタンリセット

@mixin btn-reset {
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent none;
	font-size: inherit;
	@each $list in $vendor-identifier-list {
		#{$list}appearance: none;
	}
	appearance: none;
}

// ボタンの構成要素
// サイズ
// ホワイトスペース
// 色
// タイプ
// 配置

//アニメーション
// @mixin hover-horizon($transform: 8px, $duration: 0.3s) {
// 	-webkit-transform: perspective(1px) translateZ(0);
// 	transform: perspective(1px) translateZ(0);
// 	-webkit-transition-duration: $duration;
// 	transition-duration: $duration;
// 	-webkit-transition-property: transform;
// 	transition-property: transform;
// 	&:hover,
// 	&:focus,
// 	&:active {
// 		-webkit-transform: translateX($transform);
// 		transform: translateX($transform);
// 	}
// }
// .btntest {
// 	@include btn-strech($pd: 1em 3em);
// 	background-color: $red;
// 	color: #fff;
// 	@include hover-horizon(8px);
// }
