@charset "utf-8";

// リスト（ブラウザ））

@mixin list-marker($class: list, $end: 4) {
	%markBase {
		//共通スタイル
		padding-left: 15px;
		background-position: 0em 0.5em;
		background-repeat: no-repeat;
	}
	@for $i from 1 through $end {
		@if $i < 10 {
			//ゼロパディング
			$i: 0#{$i};
		}

		.#{$class}_#{$i} {
			@extend %markBase;
			background-image: url(../images/#{$i}.png);
		}
	}
}
// @include list-marker;



@mixin list-base($class: list) {
	$lists: disc, square, decimal;
	@each $var in $lists {
		.#{$class}-#{$var} {
            list-style-type: $var;
		}
	}
}
@include list-base;


// 自動リスト
@mixin create-lists($class:listNum, $end:10, $type: "decimal") {
	.#{$class} {
		font-family: $font-family-number;
		counter-reset: my-counter;
		list-style: none;
		padding: 0;
	}

	.#{$class} > li {
		position: relative;
		margin-bottom: 10px;
		padding-left: 1.75em;
	}

	.#{$class} > li:before {
		display: inline-block;
		position: absolute;
		top: 0;
		left: -.25em;
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		background-color: #ff7272;
		color: #fff;
		line-height: 1.5em;
		text-align: center;
		content: counter(my-counter,#{$type});
		counter-increment: my-counter;
	}

	@for $i from 1 to $end {
		li.#{$class}-#{$i}::before {
			content: "#{$i}";
		}
	}
}

@include create-lists();
