@charset "utf-8";

// list

@mixin list-marker($class: list, $end: 4) {
	%markBase {
		//共通スタイル
		padding-left: 15px;
		background-position: 0em 0.5em;
		background-repeat: no-repeat;
	}
	@for $i from 1 through $end {
		@if $i < 10 {
			//ゼロパディング
			$i: 0#{$i};
		}

		.#{$class}_#{$i} {
			@extend %markBase;
			background-image: url(../images/#{$i}.png);
		}
	}
}

@mixin list-base($class: list) {
	$lists: disc, square, decimal;
	@each $var in $lists {
		.#{$class}-#{$var} {
            list-style-type: $var;
		}
	}
}

// @include list-base;



@mixin list-number($class: listNum, $end: 100) {
	.#{$class} {
		font-family: $font-family-number;
		counter-reset: my-counter;
		list-style: none;
		padding: 0;
	}

	.#{$class} > li {
		margin-bottom: 10px;
		padding-left: 30px;
		position: relative;
	}

	.#{$class} > li:before {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		content: counter(my-counter);
		counter-increment: my-counter;
		background-color: #ff7272;
		color: #fff;
		display: inline-block;
		margin: 0 10px 0 -30px;
		text-align: center;
		height: 22px;
		width: 22px;
		line-height: 24px;
		border-radius: 50%;
	}
	@for $i from 1 to $end {
		li.#{$class}-#{$i}::before {
			content: "#{$i}" !important;
		}
	}
}

// @include list-number;
