@mixin panel($class: panel, $padding: 1em, $border-radius: 4px) {

	.#{$class} {
		border-radius: $border-radius;
		border: 1px solid $primary;
	}

	.#{$class}-horizon {
		display: flex;
		flex-flow: row wrap;
	}

	.#{$class}_head {
		color: tint($primary, 90);
		padding: $padding;
		background-color: $primary;
	}

	.#{$class}_body {
		padding: $padding;
	}

	.#{$class}-blue {
		border: 1px solid $v16;
		> .#{$class}_head {
			background-color: $v16;
			color: #fff;
		}
	}

	.#{$class}-round {
		border-radius: $border-radius;
	}

	.#{$class}-shadow {
		@include mdc-elevation(1);
	}
}

// @include panel();
