$panel-block: "panel";
$panel-padding: .75em;
$panel-border-radius: 4px;

.panel {
	border-radius: $panel-border-radius;
	border: 1px solid $p4;
	&-horizon {
		display: flex;
		flex-flow: row wrap;
	}
	&_head {
		padding:$panel-padding;
		color: $d4;
		background-color: $p4;
	}
	&_body {
		padding:$panel-padding;
	}

	&-blue {
		border: 1px solid $v16;
		> .#{$panel-block}_head {
			background-color: $v16;
			color:#fff;
		}
	}

}
