<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title TEST
		link(rel="stylesheet", href="css/style.css")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	body

		//- ul(style="margin-top:30px;").test
		//- 	- for (var i = 1; i < 6; i++)
		//- 		li.test-arrow text#{i}
		//- .btntest: a SUBMIT
		//- .btn_type01: a SUBMIT
		//- .btn_type02: a SUBMIT
		//- .mdc-elevation--z1: a SUBMIT
		h2.test
		.box.box-outline
			//- h3.box-overlay_title タイトル
			p 恥の多い生涯を送って来ました。自分には、人間の生活というものが、見当つかないのです。自分は東北の田舎に生れましたので、汽車をはじめて見たのは、よほど大きくなってからでした。自分は停車場のブリッジを、上って、降りて、そうしてそれが線路をまたぎ越えるために造られたものだという事には全然気づかず、ただそれは停車場の構内を外国の遊戯場みたいに、複雑に楽しく、ハイカラにするためにのみ、設備せられてあるものだとばかり思っていました。しかも、かなり永い間そう思っていたのです。
		.panel.panel-blue
			.panel_head
				div 人間失格
			.panel_body
				div 恥の多い生涯を送って来ました。自分には、人間の生活というものが、見当つかないのです。自分は東北の田舎に生れましたので、汽車をはじめて見たのは、よほど大きくなってからでした。
