<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title TEST
		link(rel="stylesheet", href="css/style.css")
		script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	body

		.panel
			.panel_head タイトル
			.panel_body 隣へ通う路次ろじを境に植え付けたる四五本の檜ひのきに雲を呼んで、今やんだ五月雨さみだれがまたふり出す。丸顔の人はいつか布団ふとんを捨てて椽えんより両足をぶら下げている。「あの木立こだちは枝を卸おろした事がないと見える。梅雨つゆもだいぶ続いた。よう飽きもせずに降るの」と独ひとり言ごとのように言いながら、ふと思い出した体ていにて、吾わが膝頭ひざがしらを丁々ちょうちょうと平手をたてに切って敲たたく。「脚気かっけかな、脚気かな」
		.container
			.child test
