<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title TEST
		link(rel="stylesheet", href="style.css")
	body

		ul(style="margin-top:30px;")
			- for (var i = 1; i < 6; i++)
				li.test-arrow text#{i}
		.btntest: a SUBMIT
		.btn_type01: a SUBMIT
		.btn_type02: a SUBMIT
		.mdc-elevation--z1: a SUBMIT
