@charset "utf-8";
@import "import";


// 囲いベース

.test {
	position: relative;
	padding: 1em;
	background-color: tint($v1, 95);
	// スタイル拡張
	&--outline {
			border: 1px;
	}
	// 色拡張



}
